<?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');
/**
 *  {{ title }}
 * @author Cici
 * @version
 * @description
 * 权限许可视图
 */

?>
<div class="row j-page" id="{{ title }}">
    <div class="col-md-3 j-page-search">
        <div class="input-group" id="{{ title }}Search" data-toggle="filter" data-target="#{{ title }}Table">
            {% if page_searches.length > 0 %}
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#{{ tittle }}FilterModal"><i class="fa fa-search"></i></button>
                    </span>
                {% for item in page_search %}
                    <input type="{{ item.type }}" class="form-control" name="{{ item.label }}" value="{{ item.dv }}" placeholder="{{ item.label }}"/>
                {% endfor %}
                <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
            {% endif %}
        </div>
    </div>
    <div class="col-md-9 text-right j-func" id="{{ title }}Function">
        {% if func_group.length > 0 %}
            <div class="btn-groups" role="group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    共选中<span id="{{ title }}TableSelected" data-num="">0</span>项
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" data-table="#{{ title }}Table">
                    {% for item in func_group %}
                        <li><a href="javascript:void(0);" data-toggle="{{ item.toggle }}" data-target="{{ item.target }}" data-action="<?php echo site_url({{ item.url }});?>" data-multiple={{ item.multiple }}><i class="{{ item.img }}"></i>&nbsp;&nbsp;{{ item.label }}</a></li>
                        {% if not loop.last %}
                            <li role="separator" class="divider"></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% for item in funcs %}
            {% if item.tag == 'button' %}
                <button type="button" class="btn btn-default" value="{{ item.label }}" data-toggle="{{ item.toggle }}" data-target="{{ item.target }}"  data-multiple={{ item.multiple }}><i class="{{ item.img }}"></i>&nbsp;&nbsp;{{ item.label }}</button>
            {% elseif item.tag == 'a' %}
                <a class="btn btn-default" href="<?php echo site_url('{{ item.url }}');?>" data-toggle="{{ item.toggle }}" data-target="{{ item.target }}" data-multiple={{ item.multiple }}>><i class="{{ item.img }}"></i>&nbsp;&nbsp;{{ item.label }}</a>
            {% endif %}
        {% endfor %}
    </div>
    {% for card in cards %}
        {% set elements = card.elements %}
    <div class="j-panel col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover table-responsive table-condensed" id="{{ title }}Table" data-load="<?php echo site_url({{ card.url }});?>">
                    <thead>
                        <tr>
                            <th class="td-xs checkall" data-name="selected" data-checkall=false>#</th>
                            {% for item in elements %}
                                {% if item.checked %}
                                    <th class="{{ item.classes }}" data-name="{{ item.name }}">{{ item.label }}</th>
                                {% else %}
                                    <th class="hide {{ item.classes }}" data-name="{{ item.name }}">{{ item.label }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    <tr class="loading"><td colspan="15">加载中...</td></tr>
                    <tr class="no-data"><td colspan="15">没有数据</td></tr>
                    <tr class="model">
                        <td ><input name="v"  type="checkbox" value=""/></td>
                        {% for item in elements %}
                            {% if item.checked %}
                                <td class="{{ item.classes }}" name="{{ item.name }}"></td>
                            {% else %}
                                <td class="hide {{ item.classes }}" name="{{ item.name }}"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="hide btn-group pull-right paging">
                    <p class="footnote"></p>
                    <ul class="pagination">
                        <li><a href="1">首页</a></li>
                        <li class=""><a href="javascript:void(0);" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li><a href=""></a></li>
                        <li class=""><a href="" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        <li><a href="">尾页</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% for func_group in func_groups %}
    {% if func_group.forms.length > 0 %}
<div class="modal fade" id="{{ title }}{{ func_group.name | capitalize }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ title }}{{ func_group.name | capitalize }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" id="{{ title }}{{ func_group.name | capitalize }}Form" action="" method="post" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="{{ title }}{{ func_group.name | capitalize }}ModalLabel">编辑</h4>
                </div>
                <div class="modal-body">
                {% for form in func_group.forms %}
                    {% if form.type == 'hidden' %}
                        <input type="hidden" name="{{ form.name }}" value="" />
                    {% elseif form.type == 'select' %}
                        <div class="form-group" data-url="{{ form.url }}">
                            <label class="control-label col-md-2" >{{ form.label }}:</label>
                            <div class="col-md-6">
                                <select class="form-control" name="{{ form.name }}"></select>
                            </div>
                        </div>
                    {% elseif form.type == 'checkbox' %}
                    {% elseif form.type == 'radio' %}
                    {% elseif form.type == 'textarea' %}
                        <div class="form-group">
                            <label class="control-label col-md-2" >{{ form.label }}:</label>
                            <div class="col-md-6">
                                <textarea class="form-control" rows="3" name="{{ form.name }}" ></textarea>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label class="control-label col-md-2" >{{ form.label }}:</label>
                            <div class="col-md-6">
                                <input class="form-control" name="{{ form.name }}" type="text" placeholder="{{ form.placeholder }}" value="{{ form.dv }}"/>
                            </div>
                        </div>
                    {% endif %}
                        <div class="alert alert-danger alert-dismissible fade in serverError" role="alert"></div>
                {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" data-save="ajax.modal">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
    {% endif %}
{% endfor %}

{% if page_searches.length > 0 %}
    {% for page_search in page_searches %}
<div class="modal fade filter" id="{{ title }}FilterModal" tabindex="-1" role="dialog" aria-labelledby="{{ title }}FilterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form  class="form-horizontal" id="{{ title }}FilterForm" action="" method="post" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="{{ title }}FilterModalLabel">搜索</h4>
                </div>
                <div class="modal-body">
                    {% for form in func_group.forms %}
                        {% if form.type == 'hidden' %}
                            <input type="hidden" name="{{ form.name }}" value="" />
                        {% elseif form.type == 'select' %}
                            <div class="form-group" data-url="{{ form.url }}">
                                <label class="control-label col-md-2" >{{ form.label }}:</label>
                                <div class="col-md-6">
                                    <select class="form-control" name="{{ form.name }}"></select>
                                </div>
                            </div>
                        {% elseif form.type == 'checkbox' %}
                        {% elseif form.type == 'radio' %}
                        {% elseif form.type == 'textarea' %}
                            <div class="form-group">
                                <label class="control-label col-md-2" >{{ form.label }}:</label>
                                <div class="col-md-6">
                                    <textarea class="form-control" rows="3" name="{{ form.name }}" ></textarea>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label class="control-label col-md-2" >{{ form.label }}:</label>
                                <div class="col-md-6">
                                    <input class="form-control" name="{{ form.name }}" type="text" placeholder="{{ form.placeholder }}" value="{{ form.dv }}"/>
                                </div>
                            </div>
                        {% endif %}
                        <div class="alert alert-danger alert-dismissible fade in serverError" role="alert"></div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
    {% endfor %}
{% endif %}
<script>
    (function($){
        $('div#{{ title }}').handle_page();
        {% for func_group in func_groups %}
            $('div#{{ title }}{{ func_group.name | capitalize }}Modal').handle_modal_000();
        {% endfor %}
        $('div#{{ title }}FilterModal').handle_modal_000();
    })(jQuery);
</script>
