<?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');
/**
 *  {{ title }}
 * @author Cici
 * @version
 * @description
 * 权限许可视图
 */

?>
<div class="row j-page" id="{{ title }}">
    <div class="col-md-3 j-page-search">
        <div class="input-group" id="{{ title }}Search" data-toggle="filter" data-target="#{{ title }}Table">
            {% if page_searches | length > 0 %}
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#{{ title }}FilterModal"><i class="fa fa-search"></i></button>
                    </span>
                {% for item in page_search %}
                    <input type="{{ item.type }}" class="form-control" name="{{ item.label }}" value="{{ item.dv }}" placeholder="{{ item.label }}"/>
                {% endfor %}
                <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
            {% endif %}
        </div>
    </div>
    <div class="col-md-9 text-right j-func" id="{{ title }}Function">
        {% set flag = false %}
        {% for item in funcs %}
            {% if item.group_no is same as(flag) %}
                    <li><a href="javascript:void(0);" data-toggle="{{ item.toggle }}" data-target="{{ item.target }}" data-action="<?php echo site_url('{{ item.url }}');?>" data-multiple={{ item.multiple ? true : false }}><i class="{{ item.img }}"></i>&nbsp;&nbsp;{{ item.label }}</a></li>
            {% elseif item.group_no != '' and not(flag is same as(false)) %}
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    共选中<span id="{{ title }}TableSelected" data-num="">0</span>项
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" data-table="{{ item.group_no }}">
                    <li><a href="javascript:void(0);" data-toggle="{{ item.toggle }}" data-target="{{ item.target }}" data-action="<?php echo site_url('{{ item.url }}');?>" data-multiple={{ item.multiple ? true : false }}><i class="{{ item.img }}"></i>&nbsp;&nbsp;{{ item.label }}</a></li>
                {% set flag = item.group_no %}
            {% elseif item.group_no != '' and flag is same as(false) %}
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    共选中<span id="{{ title }}TableSelected" data-num="">0</span>项
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" data-table="{{ item.group_no }}">
                    <li><a href="javascript:void(0);" data-toggle="{{ item.toggle }}" data-target="{{ item.target }}" data-action="<?php echo site_url('{{ item.url }}');?>" data-multiple={{ item.multiple ? true : false }}><i class="{{ item.img }}"></i>&nbsp;&nbsp;{{ item.label }}</a></li>
                {% set flag = item.group_no %}
            {% elseif item.group_no == '' and not(flag is same as(false)) %}
                </ul>
            </div>
                {% if item.tag == 'button' %}
            <button type="button" class="btn btn-default" value="{{ item.label }}" data-toggle="{{ item.toggle }}" data-target="{{ item.target }}"  data-multiple={{ item.multiple ? true : false }}><i class="{{ item.img }}"></i>&nbsp;&nbsp;{{ item.label }}</button>
                {% elseif item.tag == 'a' %}
            <a class="btn btn-default" href="<?php echo site_url('{{ item.url }}');?>" data-toggle="{{ item.toggle }}" data-target="{{ item.target }}" data-multiple={{ item.multiple ? true : false }}><i class="{{ item.img }}"></i>&nbsp;&nbsp;{{ item.label }}</a>
                {% endif %}
                {% set flag = false %}
            {% elseif item.group_no == '' and flag is same as(false) %}
                {% if item.tag == 'button' %}
            <button type="button" class="btn btn-default" value="{{ item.label }}" data-toggle="{{ item.toggle }}" data-target="{{ item.target }}"  data-multiple={{ item.multiple ? true : false }}><i class="{{ item.img }}"></i>&nbsp;&nbsp;{{ item.label }}</button>
                {% elseif item.tag == 'a' %}
            <a class="btn btn-default" href="<?php echo site_url('{{ item.url }}');?>" data-toggle="{{ item.toggle }}" data-target="{{ item.target }}" data-multiple={{ item.multiple ? true : false }}><i class="{{ item.img }}"></i>&nbsp;&nbsp;{{ item.label }}</a>
                {% endif %}
            {% else %}
                {% if item.tag == 'button' %}
            <button type="button" class="btn btn-default" value="{{ item.label }}" data-toggle="{{ item.toggle }}" data-target="{{ item.target }}"  data-multiple={{ item.multiple ? true : false }}><i class="{{ item.img }}"></i>&nbsp;&nbsp;{{ item.label }}</button>
                {% elseif item.tag == 'a' %}
            <a class="btn btn-default" href="<?php echo site_url('{{ item.url }}');?>" data-toggle="{{ item.toggle }}" data-target="{{ item.target }}" data-multiple={{ item.multiple ? true : false }}><i class="{{ item.img }}"></i>&nbsp;&nbsp;{{ item.label }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    {% for card in cards %}
        {% set elements = card.elements %}
    <div class="j-panel col-md-12">
        <div class="panel panel-default">
            <div class="panel-body table-responsive">
                <table class="table table-bordered table-striped table-hover table-condensed" id="{{ title }}Table" data-load="<?php echo site_url('{{ card.url }}');?>">
                    <thead>
                        <tr>
                            <th class="td-xs checkall" data-name="selected" data-checkall=false>#</th>
                            {% for item in elements %}
                                {% if item.checked %}
                                    <th class="{{ item.classes }}" data-name="{{ item.name }}">{{ item.label }}</th>
                                {% else %}
                                    <th class="hide {{ item.classes }}" data-name="{{ item.name }}">{{ item.label }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    <tr class="loading"><td colspan="15">加载中...</td></tr>
                    <tr class="no-data"><td colspan="15">没有数据</td></tr>
                    <tr class="model">
                        <td name="selected"><input name="v"  type="checkbox" value=""/></td>
                        {% for item in elements %}
                            {% if item.checked %}
                                <td class="{{ item.classes }}" name="{{ item.name }}"></td>
                            {% else %}
                                <td class="hide {{ item.classes }}" name="{{ item.name }}"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr v-for="(trData, key, index) in card{{ card.v }}.data.content" :key="index">
                        <td v-for="(ivalue, ikey, iindex) in elements" :name="ikey" :class="[ ivalue.classes ]" :key="iindex" v-if="ivalue.checked" v-html="trData[ikey]"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="hide btn-group pull-right paging">
                    <p class="footnote"></p>
                    <ul class="pagination">
                        <li><a href="1">首页</a></li>
                        <li class=""><a href="javascript:void(0);" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li><a href=""></a></li>
                        <li class=""><a href="" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                        <li><a href="">尾页</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for func in funcs %}
        {% if func.forms | length > 0 %}
            <div class="modal fade" id="{{ title }}{{ func.name | capitalize }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ title }}{{ func.name | capitalize }}ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form class="form-horizontal" id="{{ title }}{{ func.name | capitalize }}Form" action="" method="post" role="form">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="{{ title }}{{ func.name | capitalize }}ModalLabel">编辑</h4>
                            </div>
                            <div class="modal-body">
                                {% for form in func.forms %}
                                    {% if form.form_type == 'hidden' %}
                                        <input type="hidden" name="{{ form.name }}" value="" />
                                    {% elseif form.form_type == 'select' %}
                                        <div class="form-group" data-url="{{ form.url }}">
                                            <label class="control-label col-md-2" >{{ form.label }}:</label>
                                            <div class="col-md-6">
                                                <select class="form-control {{ form.classes }}" name="{{ form.name }}" {{ form.multiple ? "multiple" : "" }} data-load="{{ form.url }}">
                                                    <option value="">请选则</option>
                                                    <option v-for="(value, key, index) in {{ form.name }}.data.content" :value="value.v" :key="index">{{ '{{' }} value.name {{ '}}' }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    {% elseif form.form_type == 'checkbox' %}
                                    {% elseif form.form_type == 'radio' %}
                                    {% elseif form.form_type == 'textarea' %}
                                        <div class="form-group">
                                            <label class="control-label col-md-2" >{{ form.label }}:</label>
                                            <div class="col-md-6">
                                                <textarea class="form-control {{ form.classes }}" rows="3" name="{{ form.name }}" ></textarea>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="form-group">
                                            <label class="control-label col-md-2" >{{ form.label }}:</label>
                                            <div class="col-md-6">
                                                <input class="form-control {{ form.classes }}" name="{{ form.name }}" type="text" {{ form.required ? "required" : "" }} {{ form.max ? ["max=\"", form.max, "\""].join : "" }} {{ form.min ? ["min=\"", form.min, "\""].join : ""}} {{ form.maxlength ? ["maxlength=\"", form.maxlength, "\""].join : "" }} {{ form.pattern ? ["pattern=\"", form.pattern, "\""].join : "" }} {{ form.readonly ? "readonly" : "" }} placeholder="{{ form.placeholder }}" value="{{ form.dv }}"/>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="alert alert-danger alert-dismissible fade in serverError" role="alert"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary" data-save="ajax.modal">保存</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% if page_searches | length > 0 %}
    <div class="modal fade filter" id="{{ title }}FilterModal" tabindex="-1" role="dialog" aria-labelledby="{{ title }}FilterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form  class="form-horizontal" id="{{ title }}FilterForm" action="" method="post" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="{{ title }}FilterModalLabel">搜索</h4>
                    </div>
                    <div class="modal-body">
                        {% for page_search in page_searches %}
                            {% if page_search.form_type == 'hidden' %}
                                <input type="hidden" name="{{ page_search.name }}" value="" />
                            {% elseif page_search.form_type == 'select' %}
                                <div class="form-group" data-url="{{ page_search.url }}">
                                    <label class="control-label col-md-2" >{{ page_search.label }}:</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="{{ page_search.name }}" {{ form.multiple ? "multiple" : "" }} data-load="{{ form.url }}">
                                            <option>请选则</option>
                                            <option v-for="(value, key, index) in {{ page_search.name }}.data.content" :value="value.v" :key="index">{{ '{{' }} value.name {{ '}}' }}</option>
                                        </select>
                                    </div>
                                </div>
                            {% elseif page_search.form_type == 'checkbox' %}
                            {% elseif page_search.form_type == 'radio' %}
                            {% elseif page_search.form_type == 'textarea' %}
                                <div class="form-group">
                                    <label class="control-label col-md-2" >{{ page_search.label }}:</label>
                                    <div class="col-md-6">
                                        <textarea class="form-control" rows="3" name="{{ page_search.name }}" ></textarea>
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label class="control-label col-md-2" >{{ page_search.label }}:</label>
                                    <div class="col-md-6">
                                        <input class="form-control {{ page_search.classes }}" name="{{ page_search.name }}" type="text" {{ page_search.required ? "required" : "" }} {{ page_search.max ? ["max=\"", page_search.max, "\""].join : "" }} {{ page_search.min ? ["min=\"", page_search.min, "\""].join : ""}} {{ page_search.maxlength ? ["maxlength=\"", page_search.maxlength, "\""].join : "" }} {{ page_search.pattern ? ["pattern=\"", page_search.pattern, "\""].join : "" }} {{ page_search.readonly ? "readonly" : "" }} placeholder="{{ page_search.placeholder }}" value="{{ page_search.dv }}"/>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="alert alert-danger alert-dismissible fade in serverError" role="alert"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<script type="module">
    (function($){
        new Vue({
            el: '#{{ title }}',
            data: function () {
                return {}
            },
            computed: {
        {% for card in cards %}
        {% endfor %}
        {% for func in funcs %}
            {% for form in forms %}
                {% if form.url | length > 0 %}
                    {{ form.name }}: {
                        get: function () {
                            return STORE.state.apps.funcs.{{ form.name }};
                        }
                    },
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% for page_search in page_searches %}
            {% if page_search.url | length > 0 %}
                {{ page_search.name }}: {
                    get: function () {
                        return STORE.state.apps.page_searches.{{ page_search.name }};
                    }
                },
            {% endif %}
        {% endfor %}
            },
            created: function() {
                {% for func in funcs %}
                    {% for form in forms %}
                        {% if form.url | length > 0 %}
                            if (this.{{ form.name }} === undefined || JSON.stringify(this.{{ form.name }}) === '{}') {
                                this.$store.dispatch('FETCH_DATA', {
                                    params: {
                                        uri: '{{ form.url }}'
                                    },
                                    target: this.{{ form.name }}
                                });
                            }
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% for page_search in page_searches %}
                    {% if page_search.url | length > 0 %}
                        if (this.{{ page_search.name }} === undefined || JSON.stringify(this.{{ page_search.name }}) === '{}') {
                            this.$store.dispatch('FETCH_DATA', {
                                params: {
                                    uri: '{{ page_search.url }}'
                                },
                                target: this.{{ page_search.name }}
                            });
                        }
                    {% endif %}
                {% endfor %}
            },
            methods: {

            }
        });
    })(jQuery);
</script>
